<% if object.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg m-2">
    <%= object.errors.full_messages.to_sentence.capitalize %>
  </div>
<% end %>
