<div id="flash" class="flex mt-2 justify-center">
  <% flash.each do |message_type, message| %>
    <div class="<%= flash_classname(message_type) %>">
      <%= message %>
    </div>
  <% end %>
</div>
